.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .row-deck > .col {
    align-items: stretch;
    display: flex;
  }
  
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .clientimage {
    height: 120px;
    width: 120px;
    padding: 4px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .teacher-info > * {
    text-align: start;
  }
  .clientimage {
    height: 120px;
    min-width: 120px;
    width: 120px;
  }
  .avatar-list {
    font-size: 0;
    margin: 0 0 -0.5rem;
    padding: 0;
  }
  .light-info-bg {
    background-color: #eee5ff !important;
  }
  
  .w220 {
    width: 220px;
  }
  
  .avatar.xl {
    height: 120px;
    min-width: 120px;
    width: 120px;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  